extends layout

block content
    nav(class='navbar navbar-default', role='navigation')
        .container-fluid
            .navbar-header
                button(class='navbar-toggle', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                    span.sronly
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a(class='navbar-brand', href='/#') Home
            #bs-example-navbar-collapse-1(class='collapse navbar-collapse')
                #navBarUl.ul(class='nav navbar-nav')
                    if (user)
                        li
                            <p class="nav navbar-text">Logged in as #{user.username}</p>
                        li
                            a(href="/history") My Orders
                        li
                            a(href="/logout") Logout
                    li
                        a(href='/help') Help
                form.navbar-form.pull-left

    .container-fluid
        .row
            .col-xs-12.col-sm-12.col-md-12.col-lg-12
                panel
                    .row
                        .col-xs-8.col-sm-8.col-md-8.col-lg-8
                            panel
                                .panel-info
                                    .panel-heading
                                        if (order.STATUS===1)
                                            | Rental Order # #{order._id} was successfully saved. The order details were sent to the mail account #{user.username}.
                                        else if (order.STATUS===3)
                                            | Rental Order # #{order._id} was canceled. A cancelation email was sent to the mail account #{user.username}.
                            panel
                                .panel-default 
                                    .panel-heading 
                                        .row
                                            .col-xs-5.col-sm-5.col-md-5.col-lg-5
                                                |#{vcl.MAKER} #{vcl.MODEL} #{vcl.YEAR} #{vcl.ENGINE} #{vcl.ENGINE_TYPE} 
                                            .col-xs-5.col-sm-5.col-md-5.col-lg-5
                                                |Location and Date
                                    .block.badge(id="vehiclePrice",class="priceLabel", style="float: right; margin-right: 15px; margin-top: 3px;margin-bottom: 3px;") #{vcl.DAILY_PRICE} ₪
                                                
                                    .panel-body
                                        .row
                                            .col-xs-5.col-sm-5.col-md-5.col-lg-5
                                                ul( style="list-style-type: none; margin-top: 1px;margin-bottom: 1px;")
                                                    li(style="margin-top: 1px;margin-bottom: 1px;")
                                                        |Category  
                                                        span.badge #{vcl.CAR_CATEGORY}
                                                    li(style="margin-top: 1px;margin-bottom: 1px;")
                                                        |Fuel  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                                                        span.badge #{vcl.FUEL_TYPE=='G' ? 'GAS' : 'DIESEL'} 
                                                    li(style="margin-top: 1px;margin-bottom: 1px;")
                                                        |Gear  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                                                        span.badge #{vcl.GEAR}
                                                    li(style="margin-top: 1px;margin-bottom: 1px;")
                                                        |Doors &nbsp;&nbsp;&nbsp;&nbsp;  
                                                        span.badge   #{vcl.DOORS}
                                                    li(style="margin-top: 1px;margin-bottom: 1px;")
                                                        |Additional Details: Air Conditioner- 
                                                        span.badge(style="margin-top: 0px; margin-bottom: 3px;") #{vcl.AIR_COND==1 ? 'Yes' : 'No'}

                                            .col-xs-5.col-sm-5.col-md-5.col-lg-5
                                                ul( style="list-style-type: none; margin-top: 1px;margin-bottom: 1px;")
                                                    li(style="margin-top: 1px;margin-bottom: 1px;")
                                                        |Pickup Station 
                                                        span.badge #{order.locationOut}
                                                    li(style="margin-top: 1px;margin-bottom: 1px;")
                                                        |Return Station 
                                                        span.badge #{order.locationIn}
                                                    li(style="margin-top: 1px;margin-bottom: 1px;")
                                                        |Pickup Date &nbsp;&nbsp;&nbsp;
                                                        span.badge #{order.dateOut.getLocalDate().getDateStr()}
                                                    li(style="margin-top: 1px;margin-bottom: 1px;")
                                                        |Return Date &nbsp;&nbsp;&nbsp;
                                                        span.badge   #{order.dateIn.getLocalDate().getDateStr()}
                if (addAccessories.length>0)
                    .row
                        .col-xs-8.col-sm-8.col-md-8.col-lg-8
                            panel
                                .panel-info
                                    .panel-heading
                                        |  &nbsp; Additional Options

                    each acc, index in addAccessories
                        .row
                            .col-xs-8.col-sm-8.col-md-8.col-lg-8
                                panel 
                                    .panel-default(style="margin:1px;")
                                        .panel-body
                                            span.badge #{acc.Name}
                                            .block.badge(class="priceLabel", style="float: right;margin-top: 0px; margin-bottom: 3px;") #{acc.Daily_Price} ₪ 



                .row
                    .col-xs-8.col-sm-8.col-md-8.col-lg-8
                        panel
                            .panel-default(style="margin:1px;")
                                .panel-body
                                    .row 
                                        .col-xs-7.col-sm-7.col-md-8.col-lg-8
                                            .container-fluid
                                                textarea#remarks(rows="2", placeholder="Your Remarks", disabled=true) #{order.remarks}
                                        .col-xs-5.col-sm-5.col-md-4.col-lg-4
                                            .block.label.label-warning(id="totalPrice", class="priceLabel", style="float: right; margin-left: 10px; margin-top: 3px;margin-bottom: 3px;") #{order.vehiclePrice} ₪
                                            .block.label(style="float: right; margin-top: 8px; margin-bottom: 3px; font-size:14px;") Total 



                #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
                    .modal-dialog(role='document')
                        .modal-content
                            .modal-header
                                button.close(type='button', data-dismiss='modal', aria-label='Close')
                                  span(aria-hidden='true') ×
                                h4#myModalLabel.modal-title Please register or log in first.
                            .modal-body
                                | To make a car reservation you have to be logged in.
                                | Please register or log in if you already have an account.
                            .modal-footer
                                button.btn.btn-sm.btn-default(type='button', data-dismiss='modal') Close
                                a(href='/login') 
                                    button.btn.btn-sm.btn-primary(type='button') Login
                                a(href='/register')     
                                    button.btn.btn-sm.btn-primary(type='button') Register
                        

    script(src='http://code.jquery.com/jquery.js')
    script(type='text/javascript' src='/js/vclDetails.js')
    if(order)
        script(type='text/javascript') var g_order =!{JSON.stringify(order)}
    